/* Aqui encontro as propriedades do flexbox https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap'); /* Link da fonte que eu importei do google fontes... Para linkar-la em uma classe deve copiar o código que o próprio google fontes fornece, nesse caso é o font-family: "Amatic SC", sans-serif; */
/* https://fonts.google.com/ */
body { /* Marcações serão restritas ao body */
    height: 100vh;
    box-sizing: border-box; /*Serve para não permitir que os elementos "filhos" saiam do pai... Ou seja, tudo que estiver dentro do box vai ser reduzido para caber dentro do body */
    background-color: rgb(55, 121, 80); /* Cor de fundo da página,  site do adobe para ajudar a escolher cores harmoniosas https://color.adobe.com/pt/create/color-wheel*/
    color: rgb(0, 0, 0); /* cor da fonte */    
}
strong { /* Formatar TODOS os elementos marcados com <strong> */
    color: rgb(1, 1, 179);
}
h1 { /* Formatar TODOS os elementos de <h1> */
    color: rgb(163, 231, 154);
}
p { /* Formatar TODOS os elementos de <p> */
    color: rgb(247, 201, 146);
}
h3 { /* Formatar TODOS os elementos de <h3> */
    color: rgb(71, 1, 1);
}

/************************header*********************************/

.cabecalho {
    text-align: center; /* Serve para colocar os elementos centralizados no meio */
    margin-block: 15px; /* Criar uma margem ao redor do bloco */
    flex-direction: column; /* Organizar os blocos em colunas */
}
.cabecalho__titulo {
    margin-block: 10px;
    font-size: 80px; /* Tamanho da fonte */
    font-family: "Amatic SC", sans-serif; /* Inserindo a fonte que já foi linkada no começo do arquivo */
}
.cabecalho__titulo2 {
    margin-block: 10px;
    font-size: 30px;
    
}
.cabecalho__titulo_strong {
    color: rgb(10, 214, 61);
}


/************************main**********************************/

main {
    display: flex; /* Essa propriedade serve para tornar os elementos "filhos" flexíveis dentro do elemento "pai", ou seja, nesse caso o elemento pai é o <main> e os fihos são os <div>... Com essa propriedade os div serão realocados de forma flexível dentro do main */
    flex-direction: column;
    font-family: "Amatic SC", sans-serif;
    font-size: 30px;
}
.tipos_medicinas {
    flex-direction: column;
    text-align: center;
}
.tipos_medicinas__textodestaque {
    color: rgb(247, 201, 146);
    margin-bottom: 5px;
    
}
.tipos_medicinas__lista {
    margin: 10px;
    font-weight: bolder; /* Deixar o texto em negrito */
}
.descricao-medicinas {
    display: flex;
    justify-content: space-between; /* Criar espaço entre os elementos */
}
.kambo {
    color: chartreuse;
    text-align: center;
    font-weight: bold;
}
.kambo__desc {
    margin: 5px;
    margin-left: 20px;
    background-color: chartreuse;
    border-radius: 16px; /* Arredondar as bordas */
}
.rape {
    color: maroon;
    text-align: center;
    font-weight: bold;
}
.rape__desc {
    margin: 5px;
    background-color: brown;
    border-radius: 16px;
}
.ayahuasca {
    color: rgb(64, 0, 124);
    text-align: center;
    font-weight: bolder;
}
.ayahuasca__desc {
    margin-right: 20px;
    margin-left: 5px;
    background-color: blueviolet;
    border-radius: 16px;
}
/************************footer*********************************/

footer {
    display: flex;
    justify-content:center
}
.footer__gif {
    margin: 20px;
}
.footer__contatos {
    display: flex;
    text-align: center;
    margin: 20px;
    flex-direction: column;
    font-size: 18px;
}
.footer__gif2 {
    margin: 20px;
}
